/* Lists */
ul,
ol {
  margin-block: 1em;
  padding-inline-start: 1.5em;
}

ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}

li {
  margin-block: 0.25em;
}

li::marker {
  color: oklch(var(--neutral));
}

/* Nested lists */
ul ul,
ol ol,
ul ol,
ol ul {
  margin-block: 0.25em;
}

/* Description lists */
dl {
  margin-block: 1em;
}

dt {
  font-weight: 600;
  margin-block-start: 1em;
}

dt:first-child {
  margin-block-start: 0;
}

dd {
  margin-inline-start: 1.5em;
  margin-block: 0.25em;
}
