/* Strong / Bold */
strong,
b {
  font-weight: 600;
}

/* Emphasis / Italic */
em,
i {
  font-style: italic;
}

/* Small */
small {
  font-size: 0.875em;
}

/* Strikethrough */
s,
del {
  text-decoration: line-through;
}

/* Inserted text */
ins {
  text-decoration: underline;
}

/* Mark / Highlight */
mark {
  background: oklch(0.92 0.15 95);
  padding-inline: 0.125em;
  border-radius: 0.125em;
}

@media (prefers-color-scheme: dark) {
  mark {
    background: oklch(0.45 0.12 95);
    color: oklch(0.95 0.01 95);
  }
}

/* Subscript / Superscript */
sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

/* Abbreviation */
abbr[title] {
  text-decoration: underline dotted;
  cursor: help;
}

/* Citation */
cite {
  font-style: italic;
}

/* Definition */
dfn {
  font-style: italic;
  font-weight: 600;
}

/* Address */
address {
  font-style: normal;
  margin-block: 1em;
}

/* Time */
time {
  /* No special styling, semantic only */
}

/* Data */
data {
  /* No special styling, semantic only */
}

/* Underline (unarticulated annotation) */
u {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: oklch(var(--danger));
}
