/* Blockquote */
blockquote {
  margin-block: 1em;
  margin-inline: 0;
  padding-inline-start: 1em;
  border-inline-start: 3px solid oklch(var(--neutral));
  color: oklch(0.4 0.01 260);
}

@media (prefers-color-scheme: dark) {
  blockquote {
    color: oklch(0.7 0.01 260);
  }
}

blockquote > p:first-child {
  margin-block-start: 0;
}

blockquote > p:last-child {
  margin-block-end: 0;
}

/* Inline quote */
q {
  quotes: "" " " "" "'" "'";
}

q::before {
  content: open-quote;
}
q::after {
  content: close-quote;
}
